<div class="root">
    <article class="h-product hproduct k-product">

        <header>
            <h3 class="p-name fn">{{book?.name}}</h3>
            <p class="p-category"><a href="#">{{book?.category}}</a></p>
        </header>

        <div class="photo-data">
            <p>
                <a href="#">
                    <img class="u-photo" [src]="getImagePath()" alt="Title of product" />
                </a>
            </p>
        </div>

        <div class="product-data">
            <p *ngIf="getRatingAverage()"> 

                <data class="p-rating">
                    <img [src]="getStarsImagePath()"  alt="{{ getRatingAverage() + ' stars' }}" />
                    
                </data>
            </p>

        
            <p class="e-description description">
                {{book?.description}}
            </p>

            <div class="price-data">
                <p class="all-prices">
                 
                    <data class="price p-price sale">{{book?.price | currency:'EUR'}}</data>
                </p>
            </div>
            <buy-zone [book]="book"></buy-zone>  
        </div>
    </article>



    <div class="k-review" *ngIf="book?.comments?.length >0 " >
        <h3>{{book?.comments?.length}} comment<data  *ngIf="book?.comments?.length >1 ">(s)</data></h3>
       
        <dl class="h-review hreview" *ngFor="let comment of book?.comments">
            <dt>
                <data class="p-rating">
                 
                    <img [src]="'assets/styles/ktheme/img/' + booksService.convertFromRating(comment.rate) + '-stars.svg'"
                        alt="{{booksService.convertFromRating(comment.rate)}} stars" 
                    />
                </data>
                <data [class]="'rating '  + booksService.convertFromRating(comment.rate)">
                 
                </data>
                <strong class="p-reviewer h-card">{{comment.user}}</strong>
              
            </dt>
            <dd class="e-description">{{comment.comment}} </dd>
            
        </dl>
    </div>
    
</div>