# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
ng2ecom/dist
ng2ecom/tmp
ng2ecom/out-tsc
# Only exists if Bazel was run
ng2ecom/bazel-out

# dependencies
ng2ecom/node_modules
express/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
.metadata/
/api/*/target
/api/*/build

# IDE - VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
ng2ecom/.sass-cache
ng2ecom/connect.lock
ng2ecom/coverage/*
ng2ecom/libpeerconnection.log
ng2ecom/npm-debug.log
ng2ecom/testem.log
ng2ecom/typings

# e2e
ng2ecom/e2e/*.js
ng2ecom/e2e/*.map

#System Files
.DS_Store
Thumbs.db
