<div>
  <form class="lateral-form">
      <p>
          <label for="nbPerPage">Results per page</label>
          <input type="number" id="nbPerPage" name="nbPerPage" />
      </p>
      <p>
          <label for="bookName">Filter by name</label>
          <input type="text" id="bookName" name="bookName" />
      </p>
      <p>
          <label for="bookOrderBy">Order By</label>
          <select name="bookOrderBy" id="bookOrderBy" >
              <option>name</option>
              <option>price</option>
              <option>rating</option>
          </select>
      </p>
      <p>
          <label for="Reverse filter">
              Reverse filter
          </label> 
          <input id="switchBookOrder" type="checkbox" >
          
      </p>
  </form>
      
  <div class="k-catalog" id="list-products" >

      <article *ngFor="let book of books" class="k-product hproduct">
          <div class="photo-data">
              <p>
                  <a href="#">
                      <img class="photo" [src]="'/data/imgs/books/' + book.id + '.jpg'" />
                  </a>
              </p>
          </div>

          <p class="new" >new</p>

          <h3 class="fn name">
              <a href="#" title="See Product sheet">
                  {{book.name}}
              </a>
          </h3>

          <p class="rating ">

              <span >
                  <a href="#">{{book.comments?.length}} comment(s)</a>
              </span>
              <span >
                  No comment
              </span>
         </p>

          <div class="price-data">
              <p class="all-prices">
                  <strong class="price new"></strong>
              </p>
          </div>
          <div class="buyZone">
          </div>
      </article>        

  </div>


</div>