<div class="k-basket k-panel">
	<h3 class="control ui-state-active">
		
	</h3>
	<div class="content">
		
	</div>

<div class="k-info-block">
    <div class="hgroup">
        <h3>
        	Basket ( item(s) )
        </h3>
    </div>
    <div class="content">

    	<dl  class="basket-item" >
    		<dd>
				<a href="#" title="Go to the product sheet"> 
					<img  alt="Article" width="100" />
				</a>
    		</dd>
			<dt>
				<a href="#" >product.name</a>
			</dt>
			<dd>
				<label>
					Quantity: 
					<input type="number" min="1"  class="product-qty" />
				</label>
			</dd>
			<dd class="price"></dd>
			<dd>
				<a href="#"  >
					<img src="/assets/styles/ktheme/img/delete.svg">
				</a>
			</dd>
    	</dl>

		<p  class="basket-total">
			TOTAL: <strong></strong>
		</p>

		<ul class="k-buttons-bar">
			<li><input type="submit"  Save Basket /> </li>
    </ul>
</div>

</div>

