<div class="k-basket k-panel">
	<h3 class="control ui-state-active">
		
	</h3>
	<div class="content">
		
	</div>

<div class="k-info-block">
    <div class="hgroup">
        <h3>
        	Basket ( {{items.length}} item(s) )
        </h3>
    </div>
    <div class="content">

    	<dl *ngFor="let item of items" class="basket-item" >
    		<dd>
				<a [routerLink]="['/book', item.product.id]" title="Go to the product sheet"> 
					<img [src]="'/data/imgs/books/'+ item.product.id + '.jpg'" alt="Article" width="100" />
				</a>
    		</dd>
			<dt>
				<a [routerLink]="['/book', item.product.id]" >{{item.product.name}}</a>
			</dt>
			<dd>
				<label>
					Quantity: 
					<input type="number" min="1" [(ngModel)]="item.qty"  class="product-qty" />
				</label>
			</dd>
			<dd class="price">{{item.qty * item.product.price | currency:'EUR':true }}</dd>
			<dd>
				<a href="#" (click)="removeProduct(item.product)" >
					<img src="/assets/styles/ktheme/img/delete.svg">
				</a>
			</dd>
    	</dl>

		<p *ngIf="items?.length > 0"  class="basket-total">
			TOTAL: <strong>{{getTotal() | currency:'EUR':true }}</strong>
		</p>

		<ul class="k-buttons-bar">
			<li><input type="submit" (click)="storeBasket()"  Save Basket /> </li>
    	</ul>
</div>


</div>