<div class="k-info-block">
  
  <div class="hgroup">
      <h3>Contact Us</h3>
  </div>
  <div class="content">
    <p>
      You have several possibilities to contact us:
    </p>
    <ul>
      <li>
        By Mail:
        <a [href]="'mailto:' + email">{{email}}</a>
      </li>
      <li>
        By phone:{{phone}} 	 			
      </li>
      <li>
        By postal mail:{{address}} 
      </li>
      <div *ngIf="!messageSend; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
      <li>
        Send us a message:
        <ul class="messageform">
          <form (ngSubmit)="sendMessage()" [formGroup]="controlGroup">
            <p>
              <textarea 
                [(ngModel)]="message"
                [formControl]="messageCtrl"
                placeholder="let us a message here...">
            </textarea>
            </p>
          <p *ngIf="messageCtrl.hasError('containsValidCharacters')">Your message contains invalid Characters</p>
            <p>
              <input 
                [disabled]="!controlGroup.valid" 
                type="submit" 
                value="send" />
            </p>
         </form>
        </ul>
      </li>
    </ng-template>
    <ng-template #elseBlock><p>
      your message "{{message}}" was send  
    </p>
    </ng-template>
    </ul>
  </div>
</div>